#Router
{
   display: none;
   position: absolute;
   width: auto;
   left: 36%;
   top: 64%;
   margin: auto;
   background: #00d4c3;
   padding: 10px;
   border-radius: 8px;
}
#Router a
{
   text-decoration: none;
   color: #000;
}
