body
{
   background: #353535;
}
.cards
{
    display:grid;
    left: 0;
    margin-top: 18%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style:none;
}
.card img
{
    padding: 1px;
    width: 96%;
    height: auto;
    border-radius: 14px;
}
